scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/training-project
        create path (nt:unstructured) /content/dam/training-project/jcr:content
        set properties on /content/dam/training-project/jcr:content
        set cq:conf{String} to /conf/training-project
        set jcr:title{String} to \"Training Project\"
        end
        "
]
